/* Login Container */
.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: contain;
    gap: 3rem;
    z-index: -1;
}
/* Login Image */
.login-page-image {
    width: 70%;
    height: 100vh;
    background-size: cover;
    border-top-right-radius:40px ;
    border-bottom-right-radius:40px ;
    position: relative;
  }   
  .image-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .image-nav-button:first-of-type {
    left: 10px;
  }
  
  .image-nav-button:last-of-type {
    right: 10px;
  }
  .image-nav-button:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  /* Container chứa các chấm */
.dot-indicator-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Chấm cơ bản */
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color:rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
}

/* Chấm đang hoạt động */
.dot.active {
  background-color: white;
  transform: scale(1.3);
}
/* Login Form */
.login-page-form{
    padding: 10;
    height: 100vh;
    height: auto;
}
.login-page-form h1{
    font-weight: bold;
    font-size: 46px;
    text-align: center;    
}
.login-page-form h3{
    font-size: 24px;
    color: #1877F2;
    margin-bottom: 3rem;
}
.login-page-form-social{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Đường line */
.login-page-form-divider {
width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.login-page-form-divider hr {
  width: 40%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 10px;
}

.login-page-form-divider span {
  font-size: 14px;
  color: #666;
}
/* Login Form Infor */
.login-page-form-infor{
    text-align: center;
    width: 300px;
}

/* Login Form Forgot Password */
.login-page-form-forgot-password {
  font-size: 14px;
  color: #1877F2;
  cursor: pointer;
  position: relative; /* Cần thiết để tooltip căn chỉnh theo phần tử này */
  text-align: center  ; 
}

.login-page-form-register{
  text-align: center;
  font-size: 14px;
}
.login-page-form-register a{
  font-weight: bold;
  color:black;
  text-decoration:none;
}
.login-page-form-register a:hover{
  text-decoration: underline;
  color:#1877F2;
}

.login-page-form-forgot-password a{
  color:#1877F2;
  text-decoration: none;
}